<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/style.css" />

    <title>FI Events</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="../assets/images/logo.PNG" alt="" />
        <h3 class="companyName">
          Foofers Inc. <br />
          Event Calendar
        </h3>
        <div sec:authorize="hasRole('ADMIN')">
          <a href="/logout">Logout</a>
        </div>
      </header>

      <!-- use only data for events happening today -->
      <h3 class="eventsHeading">Events Happening Soon</h3>

      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Event</th>
            <th class="text-center">Location</th>
            <th class="text-center">Time</th>
            <th class="text-center">Description</th>
            <th>RSVP List</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="tempEvent: ${events}">
            <td class="eventDate" th:text="${tempEvent.eventDate}"></td>
            <td th:text="${tempEvent.eventName}"></td>
            <td th:text="${tempEvent.eventLocation}"></td>

            <td>
              <span th:text="${tempEvent.startTime}"> </span>
              -
              <span th:text="${tempEvent.endTime}"></span>
            </td>
            <td th:text="${tempEvent.eventDescription}"></td>

            <!-- update methods -->
            <td>
              <a
                th:href="@{/admin/showRSVPList(eventId=${tempEvent.id})}"
                class="btn btn-danger btn-sm"
              >
                RSVP List
              </a>
              <a
                th:href="@{/admin/delete(eventId=${tempEvent.id})}"
                class="btn btn-danger btn-sm adminActions"
              >
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <h3 class="eventsHeading">Events Needing Approval</h3>

      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Event</th>
            <th class="text-center">Location</th>
            <th class="text-center">Time</th>
            <th class="text-center">Description</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="tempEvent: ${unapprovedEvents}">
            <td class="eventDate" th:text="${tempEvent.eventDate}"></td>
            <td th:text="${tempEvent.eventName}"></td>
            <td th:text="${tempEvent.eventLocation}"></td>

            <td>
              <span th:text="${tempEvent.startTime}"> </span>
              -
              <span th:text="${tempEvent.endTime}"></span>
            </td>
            <td th:text="${tempEvent.eventDescription}"></td>

            <td>
              <!-- update methods -->
              <a
                id="adminEdit"
                th:href="@{/admin/showFormForUpdate(eventId=${tempEvent.id})}"
                class="btn btn-danger btn-sm adminActions"
              >
                Edit
              </a>
              <a
                id="adminApprove"
                th:href="@{/admin/approve(eventId=${tempEvent.id})}"
                class="btn btn-danger btn-sm adminActions"
              >
                Approve
              </a>

              <a
                id="adminDelete"
                th:href="@{/admin/delete(eventId=${tempEvent.id})}"
                class="btn btn-danger btn-sm adminActions"
              >
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <a
        th:href="@{/events/showFormForAdd}"
        class="btn btn-success btn-sm mb-3"
      >
        Submit Event
      </a>
    </div>
    <a th:href="@{/events/list}">Back to Event List</a>

    <script th:inline="javascript">
      document.querySelectorAll(".eventDate").forEach((element) => {
        let unformatedDate = new Date(element.textContent);
        element.textContent = unformatedDate.toDateString();
      });
    </script>
  </body>
</html>
