<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/style.css" />

    <title>FI Events</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="../assets/images/logo.PNG" alt="" />
        <h3 class="companyName">
          Foofers Inc. <br />
          Event Calendar
        </h3>
      </header>

      <!-- use only data for events happening today -->
      <h3 class="eventsHeading">Events Happening Soon</h3>

      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Event</th>
            <th class="text-center">Location</th>
            <th class="text-center">Time</th>
            <th class="text-center">Description</th>
            <th>RSVP</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="tempEvent: ${events}">
            <td th:text="${tempEvent.eventDate}"></td>
            <td th:text="${tempEvent.eventName}"></td>
            <td th:text="${tempEvent.eventLocation}"></td>

            <td>
              <span th:text="${tempEvent.startTime}"> </span>
              -
              <span th:text="${tempEvent.endTime}"></span>
            </td>
            <td th:text="${tempEvent.eventDescription}"></td>
            <td>
              <a
                th:href="@{/events/showFormForRSVP(eventId=${tempEvent.id})}"
                class="btn btn-danger btn-sm"
              >
                RSVP
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      
      <a
        th:href="@{/events/showFormForAdd}"
        class="btn btn-success btn-sm mb-3"
      >
        Submit Event
      </a>
    </div>
    <div class="adminLogin"
      ><a href="/admin/home"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-stars"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"
          /></svg></a
    ></div>
  </body>
</html>
